/*
||||||||||||||||
|||||GRIDER|||||
||||||||||||||||
*/

/*** BASIC ***/
	$grid: 16;
	$gutter: 4%;

/*** NAMES ***/
	$row-name: 'row';
	$container-name: 'container';
	$column-name: 'col';
	$column-name-small: 'sm';

/*** CONTAINER ***/
	$container-width: 97%;
	$container-small-width: 92%;
	$container-large-width: 88%;

/*** ROW ***/
	$row-width: 100%;

/*** COLUMN ***/
	$column-width: 100%;
	$column-margin: .3rem;
	$column-min-height: .125rem;

/*** BREAKPOINTS ***/
	$breakpoint-small: 33.75em; // 540px
	$breakpoint-medium: 48em; // 768px
	$breakpoint-large: 61.25em; // 980px

/*** SPACER ***/
	$spacer: 15px;

/*** MIXINS ***/
@mixin breakpoints($size) {
	@media only screen and (min-width: #{$size}) {
		@content;
	}
}

.#{$container-name} {
	width: $container-width;
	padding-right: $spacer;
	padding-left: $spacer;
	margin-left: auto;
	margin-right: auto;
	@include breakpoints($breakpoint-small) {
		width: $container-small-width;
	}
	@include breakpoints($breakpoint-large) {
		width: $container-large-width;
	}
}
.#{$row-name} {
	display: flex;
	flex-wrap: wrap;
	width: $row-width;
	[class^="#{$column-name}"] {
		float: left;
		margin: $column-margin;
		min-height: $column-min-height;
		flex-grow: 1;
		max-width: 100%;
	}
	@for $i from 1 through $grid {
		.#{$column-name}-#{$i} {
			width: $column-width;
		}
		.#{$column-name}-#{$i}-#{$column-name-small} {
			width: ($column-width / ($grid / $i)) - ($gutter * ($grid - $i) / $grid); 
		}
	}
	@include breakpoints($breakpoint-medium) {
		@for $i from 1 through $grid {
			.#{$column-name}-#{$i} { 
				width: ($column-width / ($grid / $i)) - ($gutter * ($grid - $i) / $grid); 
			}
		}
	}
}