/*
||||||||||||||||
|||||GRIDER|||||
||||||||||||||||
*/

/*** BASIC ***/
	$grid: 16;

/*** NAMES ***/
	$row-name: 'row';
	$container-name: 'container';
	$column-name: 'col';
	$offset: 'offset';

/*** CONTAINER ***/
	$container-width: 97%;
	$container-small-width: 92%;
	$container-large-width: 88%;

/*** ROW ***/
	$row-width: 100%;

/*** COLUMN ***/
	$column-width: 100%;
	$column-padding: 0;
	$column-min-height: .125rem;

/*** BREAKPOINTS ***/
	$breakpoint-small: 33.75em; // 540px
	$breakpoint-medium: 48em; // 768px
	$breakpoint-large: 61.25em; // 980px

/*** SPACER ***/
	$spacer: 15px;

/*** MIXINS ***/
@mixin breakpoints($size) {
	@media only screen and (min-width: #{$size}) {
		@content;
	}
}

.#{$container-name} {
	width: $container-width;
	padding-right: $spacer;
	padding-left: $spacer;
	margin-left: auto;
	margin-right: auto;
	@include breakpoints($breakpoint-small) {
		width: $container-small-width;
	}
	@include breakpoints($breakpoint-large) {
		width: $container-large-width;
	}
}
.#{$row-name} {
	display: flex;
	flex-wrap: wrap;
	width: $row-width;
	[class^="#{$column-name}"] {
		float: left;
		padding: $column-padding;
		min-height: $column-min-height;
	}
	@for $i from 1 through $grid {
		.#{$column-name}-#{$i} {
			flex-basis: $column-width; 
		}
		.#{$column-name}-#{$offset}-#{$i} {
			margin-left: 0;
			flex-basis: $column-width; 
		}
	}
	@include breakpoints($breakpoint-medium) {
		@for $i from 1 through $grid {
			$value : (100 / ($grid / $i) ) * 1%;
			.#{$column-name}-#{$i} { 
				flex-basis: $value; 
			}
			.#{$column-name}-#{$offset}-#{$i} {
				flex-basis: $value;
				margin-left: $value;
			}
		}
	}
}